# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- List popular languages for Data Science
- Introductions to Gitlab and how to use it. 
- Introductions to R Studio and how to use it.
- Introductions to Jupyter Notebook and how to use it.

## Author
Kevin Yi

Some of the popular languages that Data Scientists use are:
1. C++
2. Python
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. sciPy
3. Pandas


| Data Science Tools |
| -------------| 
| Jupyter | 
| R Studio | 
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60

Hours = 200/60
print(Hours)

3.3333333333333335